@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-between;
  height: 5rem;
  background-color: #000;
  font-family: 'Poppins', sans-serif;
}

.logo {
  cursor: pointer;
}

.menu {
  list-style: none;
  display: flex;
}

li {
  padding: 0 80px;
  font-weight: 800;
  color: white;
}

body > footer {
  position: sticky;
  top: 100vh;
  border: 2px solid black;
  padding: 16px;
  margin: 12px;
  margin-top: 40rem;
}

.footer {
  padding: 1.5em 2em;
  font-size: 2em;
  background-color: #10141a;
  color: #d2d1d3;
  border: 2px solid;
}
